@{
    ViewBag.Title = "CatHome";
}
<br />
<br />
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3>Gato 1</h3>
                <p class="card-text">Imagen de Gatito aleatorio.</p>
                <a href="@Url.Action("Cat", "Miau")" , target="_blank" class="btn btn-info">Gato</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3>Gato 2</h3>
                <p class="card-text">Imagen de Gatito aleatorio dice Hola.</p>
                <a href="@Url.Action("CatSaysHi", "Miau")" , target="_blank" class="btn btn-info">Hola</a>
            </div>
        </div>
    </div>
</div>
<br/><br/>
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3>Gato 3</h3>
                <p class="card-text">Gif de Gatito aleatorio.</p>
                <a href="@Url.Action("CatGif", "Miau")" , target="_blank" class="btn btn-info">Gato</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3>Gato 4</h3>
                <p class="card-text">Gif de Gatito aleatorio dice hola.</p>
                <a href="@Url.Action("CatGifSaysHi", "Miau")" , target="_blank" class="btn btn-info">Hola</a>
            </div>
        </div>
    </div>
</div>
