<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shippers</title>
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark margin">
        <a class="navbar-brand" href="#">Gestion</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/listShippers">Shippers</a>
            </li>
        </ul>
        </div>
    </nav>
<router-outlet></router-outlet>
</body>
</html>

