<div class="container">
<form class="needs-validation row g-3 mt-3" [formGroup]="formShippers" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group">
    <div class="col-md-4 mb-3">
      <label for="validationCustom01">Nombre de compañía</label>
      <input formControlName="name" type="text" class="form-control" id="validationCustom01" placeholder="Nombre" required>
      <div class="valid-feedback">
        ¡Correcto!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustom02">Teléfono</label>
      <input formControlName="phone" type="number" class="form-control" id="validationCustom02" placeholder="Telefono" required>
      <div class="valid-feedback">
        ¡Correcto!
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <button class="btn btn-primary" type="submit" [disabled]="this.formShippers.invalid">Aceptar</button>
    <button class="btn btn-primary" type="button" [routerLink]="['']">Cancelar</button>
  </div>
</form>
</div>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>